    #background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    }
    
    #btnVideo{
    
    color: white;
    
    font-family: Trebuchet MS;
    
    font-weight: bold;
    
    text-align: center;

     font-size: 1.5rem;
    background: 0;
    border: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    }
  
    
    
    