.box {


  border-radius: 10px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 17px 17px 34px #687de836,
    -17px -17px 34px #4d05716a
}

.conteneur {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-gap: 10px;
  margin: 10em;
}

.une {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.deux {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.cinq {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.six {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.huit {
  grid-column: 1 / 4;
}